
    <nav>
        <ul class="nav-position">
            <a href="/login">{{login}}</a>
            <a href="/signup">{{signup}}</a>
        </ul>
    </nav>
        
    <link rel="stylesheet" href="css/nav.css">
