<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div>
        <form method="post" action="/bookmarksimput">
            <input id="fname" type="text" name="firstname" placeholder="First Name"><br>
            <input id="lname" type="text" name="lastname" placeholder="Last Name"><br>
            <input id="uname" type="text" name="username" placeholder="User Name"><br>
            <input id="pword"type="text" name="password" placeholder="Password"><br>
            <input id="sbn" type="submit" value="Signup">

        </form>
    </div>
</body>
   
</html>

{{zpid}}
