<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/login.css">
    <title>Document</title>
</head>
<body>

     {{>navbar}}

 


    <form method="POST" action="/login">
        


   <form method="POST" action="/login">
        <input id = "user" type="text" name="username" placeholder="User Name"><br>
        <input id = "pass" type="text" name="password" placeholder="Password"><br>
        <input id = "usersub" type="submit" value="Login">
    </form> 

    
</body>
</html> 