<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <div class ="btn">

        <button id="s-button w3-hover-blue">FOR SALE</button>

        <button id="r-button w3-hover-blue">FOR RENT</button>

    </div>


    {{!-- <script>
        $( '#s-button' ).click(function() {
            $("#sale").toggle.attr("href","/estimates");  
        
        });
        
         $('#p-button' ).click(function() {
            $("#rent" ).toggle.attr("href", "/estimates");  
        });

</script> --}}

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</body>
</html>


