


nav > ul { 
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

nav > ul > li {
    display: inline;

    
}

nav > ul > a {
    text-decoration: none;
}
.nav-position {
    display: flex;
    justify-content: space-around;
}